.tel-client-edit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tel-client-edit div:first-child {
    margin-right: 20px;
}

.tel-client-edit-remove-icon {
    opacity: 0.3;
}
.tel-client-edit-remove-icon:hover {
    opacity: 1;
}

